<table class='table'>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Last Seen At</th>
  </tr>
  {{#each}}
    <tr>
      <td>{{#link-to 'bugs.show' this}}{{name}}{{/link-to}}</td>
      <td>{{pretty status}}</td>
      <td>{{pretty lastSeenAt}}</td>
    </tr>
  {{/each}}
</table>
